/* Small devices (tablets, 991px and below) */

@media (max-width: 991px) {
	div.overview_map_container,
	div.damage_assess_container,
	div#image_info {
		padding-left: 0px;
		padding-right: 0px;
	}
	div.panel.review_map_panel {
		height: 50%;
	}
	div.damage_content {
		margin-top: 2.5%;
	}
}


/* Small devices (tablets, 768px up to desktop) */

@media (min-width: 768px) and (max-width: 991px) {
	div.damage_assess_container {
		padding-right: 15px;
	}
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
	div.damage_assess_container {
		margin-top: 10px;
	}
}

html,
body {
	min-width: 463px;
	height: 100%;
}

div.container-fluid {
	height: 100%;
}

div {
	border-width: thick;
	border-color: red;
}

div.panel {
	height: 100%;
	margin-bottom: 0px;
}

div#map.map {
	top: 1%;
	height: 90%;
	width: 100%;
	z-index: 1;
	margin-top: 20px;
	display: block;
}

div.overview_map {
	height: 300px;
	display: block;
	margin-top: 15px;
}

div.navigation {
	height: 46px;
	display: block;
	margin-top: 15px;
	text-align: center;
}

div.navigation>button.nav:first-of-type {
	margin-left: 0px;
}

div.damage_assess_container>h3.header {
	text-align: center;
	margin-bottom: 0px;
}

div.damage_assess_container>a#imageAnalysisTrainingLink {
	text-align: center;
	display: block;
}

div#review_tools,
div#review_tools>div.damage_markers {
	padding-left: 0px;
	padding-right: 0px;
}

div#review_tools div.btn {
	text-align: left;
	max-width: 280px;
	border: 1px solid black;
	white-space: normal;
}

div#image_info {
	font-size: 80%;
	margin-top: 8px;
	padding: 5px;
	border-radius: 5pt;
	border-style: solid;
	border-width: medium;
	border-color: grey;
}

button.nav {
	padding: 5px;
}

b.piLbl {
	font-size: 80%;
}

#overlayMarker {
	width: 10px;
	height: 10px;
	border: 1px solid #088;
	border-radius: 10px;
	background-color: #0FF;
	opacity: 0.5;
	visibility: visible;
}

.tool_spn {
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 6px;
}

div#review_tools div.btn.tool_spn.removeMarkers {
	margin-top: 10px;
	text-align: center;
}

.affected_spn {
	background-color: #ffffcc;
}

.minor_spn {
	background-color: #ffc000;
}

.major_spn {
	background-color: #ff7c80;
}

.destroyed_spn {
	background-color: #9966ff;
}

div.btn.affected_spn:hover {
	background-color: #FFFFE6;
}

div.btn.minor_spn:hover {
	background-color: #FFDA1A;
}

div.btn.major_spn:hover {
	background-color: #FFAFB3;
}

div.btn.destroyed_spn:hover {
	background-color: #CC99FF;
}

div#review_tools>div>.btn.btn-block:hover {
	border-width: 2px;
	padding: 5px 11px; 
}

div.modal-xl {
	width: 90%;
	height: 90%;
}

div.modal-xl div.modal-content {
	height: 100%;
	background-image: url("../img/FEMA_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

div.modal-xl.tooltipModal div.modal-content {	
	background-image: none;
}

div.modal-xl div.modal-header {
	height: 10%;
}

div.modal-xl div.modal-body {
	height: 80%;
}

div.modal-xl.tooltipModal div.modal-content div.modal-body {	
	overflow-y: auto;
}

div.modal-xl div.modal-footer {
	height: 10%;
}

div.modal-body>object {
	width: 100%;
	height: 100%;
}

div#tooltipModal table.tooltipModalTable>tbody>tr.assessmentText>td,
div#tooltipModal table.tooltipModalTable>tbody>tr>th,
div#tooltipModal table.tooltipModalTable>thead>tr>th.span {
	text-align: center;
}

div#tooltipModal table.tooltipModalTable>tbody>tr.assessmentText>th {
	text-align: left;
}

div#redirectModalText a {
	color: white;
}


/***************
* Leaflet Styles:
****************/

div.leaflet-draw.leaflet-control>div.leaflet-draw-section>ul.leaflet-draw-actions.leaflet-draw-actions-top>li>a[title="Save changes"]:after {
	content: " Edits";
}