html, body {
	min-width: 463px;
	height: 100%;
}

div.container-fluid {
	height: 100%;
}

div {
	border-width: thick;
	border-color: red;
}

div.panel {
	height: 100%;
}

div#map.map {
	/* position: absolute;
	float: left; */
	top: 1%;
	height: 90%;
	width: 100%;
	z-index: 1;
	/* height: 600px; */
	margin-top: 20px;	
	display: block;
}

div.overview_map {
	/* width: 300px; */
	width: 100%;	
	height: 300px;
	display: block;
	margin-top: 20px;
}

div.navigation {
	/* width: 500px; */
	/* height: 30px; */
	display: block;
	margin-top: 15px;
	text-align: center;
}

div.navigation > button.nav:first-of-type {
	margin-left: 0px;
}

div.review_tools {
	width: 300px;
	/* #display: block; */
	font-size: 80%;
}

div.image_info {
	width: 300px;
	/* #display: block; */
	font-size: 80%;
	margin-top: 8px;
	padding: 5px;
	border-radius: 5pt;
	border-style: solid;
	border-width: medium;
	border-color: grey;
}

div.right-layout-frame {
	/* #display: block; */
	float: right;
	/* #width: 180px; */
	margin-right: 20px;
}

div.left-layout-frame {
	/* #display: block; */
	float: left;
	width: auto;
	text-align: center;
}

button.nav {
	/* margin-left: 15px; */
	padding: 5px;
}

button.nav1 {
	margin-right: 10px;
}

b.piLbl {
	font-size: 80%;
}

#overlayMarker {
	width: 10px;
	height: 10px;
	border: 1px solid #088;
	border-radius: 10px;
	background-color: #0FF;
	opacity: 0.5;
	visibility: visible;
}

.tool_spn {
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 6px;
}

.affected_spn {
	background-color: #ffffb2;
}

.impacted_spn {
	background-color: #feee5c;
}

.damaged_spn {
	background-color: #fd8d3c;
}

.destroyed_spn {
	background-color: #f03b20;
}

.destroyedx_spn {
	background-color: #bd0026;
}