/* Medium devices (desktops, 992px and up) */
@media (max-width: 991px) {
	div.overview_map_container {
		padding-left: 0px;
		padding-right: 0px;
	}
}

html,
body {
	min-width: 463px;
	height: 100%;
}

div.container-fluid {
	height: 100%;
}

div {
	border-width: thick;
	border-color: red;
}

div.panel {
	height: 100%;
}

div#map.map {
	top: 1%;
	height: 90%;
	width: 100%;
	z-index: 1;
	margin-top: 20px;
	display: block;
}

div.overview_map {
	height: 300px;
	display: block;
	margin-top: 15px;
}

div.navigation {
	display: block;
	margin-top: 15px;
	text-align: center;
}

div.navigation>button.nav:first-of-type {
	margin-left: 0px;
}

div#image_info {
	font-size: 80%;
	margin-top: 8px;
	padding: 5px 0px;
	border-radius: 5pt;
	border-style: solid;
	border-width: medium;
	border-color: grey;
}

button.nav {
	padding: 5px;
}

b.piLbl {
	font-size: 80%;
}

#overlayMarker {
	width: 10px;
	height: 10px;
	border: 1px solid #088;
	border-radius: 10px;
	background-color: #0FF;
	opacity: 0.5;
	visibility: visible;
}

.tool_spn {
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 6px;
}

.affected_spn {
	background-color: #ffffb2;
}

.impacted_spn {
	background-color: #feee5c;
}

.damaged_spn {
	background-color: #fd8d3c;
}

.destroyed_spn {
	background-color: #f03b20;
}