### config.py

appConfig = { 
       "dbHost": "<db Host>",
       "dbPort": 1433,
       "dbUser": "<db user>",
       "dbPass": "<db password>",
       "dbName": "ImageReviews",
       "dbCls":  "Devel | Prod"
       }
