<div class="modal fade" id="tooltipModal" tabindex="-1" role="dialog" aria-labelledby="tooltipModal">
    <div class="modal-dialog modal-xl tooltipModal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="modalLabel"></h1>
            </div>
            <div class="modal-body table-responsive">
                <table class="table table-bordered table-condensed tooltipModalTable" summary="">
                    <thead>
                        <tr>
                            <td></td>
                            <th class="span" colspan="2" scope="col">FEMA DAMAGE CLASSIFICATION</th>
                            <th class="span" colspan="4" scope="col">VISIBLE IMAGERY BASED CLASSIFICATION</th>
                            <th class="span" colspan="1" scope="col">HISTORICAL HOUSEHOLD INSPECTION DAMAGE TOTALS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <th>OBSERVED DAMAGE (Structure)</th>
                            <th>OBSERVED DAMAGE (Area)</th>
                            <th>Roof Covering</th>
                            <th>Roof Diaphragm</th>
                            <th>Collapsed Walls</th>
                            <th>Other Considerations</th>
                            <th>Total FEMA Verified Loss</th>
                        </tr>
                        <tr class="assessmentText">
                        </tr>
                        <tr class="assessmentText">
                        </tr>
                        <tr class="assessmentText">
                        </tr>
                        <tr class="assessmentText">
                        </tr>
                    </tbody>
                </table>
                <p id="INUNDATION_ASSESSMENTS"><p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>